<p>home works!</p>
<div class="form-group row">
    <label class="col-md-4">Tender Type</label>
    <div class="col-md-8 green-theme">
        <ng-select [items]="tenderTypes" [multiple]="true" bindLabel="label" bindValue="key" placeholder="Select Tender Type">
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" name="item-{{index}}" />
                {{item.label}}
            </ng-template>
        </ng-select>
    </div>
</div>

<div class="ml-auto d-none d-md-block">
    <button type="button" class="btn btn-primary mr-3" (click)="openFilter(filterContent)"><em class="fas fa-sliders-h"></em> <strong> Filter
            Results</strong></button>
</div>
<div class="ml-auto d-none d-md-block">
    <button type="button" class="btn btn-primary mr-3" (click)="openFilter2()"><em class="fas fa-sliders-h"></em> <strong> Filter 2
            Results</strong></button>
</div>
<ng-template #filterContent let-modal>
    <div class="modal-header">
        <div class="row">
            <h4 class="modal-title font-weight-bold col-12">Filter Result</h4>
        </div>
        <button type="button" aria-labelledby="close" class="close" (click)="modal.dismiss('Cross click')">
            <span><em class="fas fa-times-circle"></em></span>
        </button>
    </div>
    <div class="col-12 mt-2 mb-2">
        <app-ng-select (close)="modal.dismiss('Cross click')"></app-ng-select>
    </div>
</ng-template>