/* You can add global styles to this file, and also import other style files */
$theme-colors: (
    "primary": #0c8188,
    "danger": #CC0001
);
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

@import "@ng-select/ng-select/themes/default.theme.css";


/* Theme styling for ng-select */
.green-theme .ng-select .ng-select-container,
.green-theme .ng-select .ng-select-container .ng-value-container .ng-placeholder,
.green-theme .ng-dropdown-panel .ng-dropdown-panel-items .ng-option,
.green-theme .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked,
.green-theme .dropdown-item,
.green-theme .pagination-dropdown {
    color: #0c8188!important;
}

.green-theme .ng-select .ng-select-container {
    border-radius: 0.25rem !important;
    border: 1px solid #0c8188;
}

.green-theme .ng-select .ng-arrow-wrapper .ng-arrow {
    // border-color: #0c8188;
}

.green-theme select.pagination-dropdown {
    text-align-last: center;
    outline: none;
}


@font-face {
    font-family: 'Brandon Grotesque';
    src: url("../src/assets/fonts/BalooFamily/Brandon_reg.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'Brandon Grotesque';
    src: url("../fonts/BalooFamily/Brandon_med.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
} */

@font-face {
    font-family: 'Cabin';
    src: url("../src/assets/fonts/Cabin/cabin.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url("../src/assets/fonts/Lato/lato.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url("../src/assets/fonts/Roboto/roboto.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.item-middle {
    display: flex;
    align-items: center;
}

.item-middle-grid {
    display: grid;
    align-items: center;
}

body {
    font-family: 'Cabin', sans-serif;
}
