<!-- footer of the website -->

<footer>
    <div class="container">
        <div class="footer-eservice-links">
            <ul class="list-unstyled m-0">
                <li><a class="cta dark" href="https://services2.hdb.gov.sg/webapp/BF12AWFeedback/BF12SFrontController?service=ServiceFeedback&operation=createFeedback"><em
                            class="far fa-comment-dots text-danger fa-2x align-middle mr-2 mb-1 mt-1"></em> Feedback</a></li>
            </ul>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="footer_title">Housing & Development Board</div>
            <div class="row">
                <div class="col text-left text-lg-right">
                    <ul class="list-unstyled social-list">
                        <li><a class="footer-social-channels-text" href="http://www.hdb.gov.sg/cs/infoweb/contact-us" target="_blank" rel="noopener">Contact Us</a></li>
                        <li><a class="footer-social-channels-text"
                                href="https://services2.hdb.gov.sg/webapp/BF12AWFeedback/BF12SFrontController?service=ServiceFeedback&operation=createFeedback">Feedback</a></li>
                        <li><a class="footer-social-channels-text" [routerLink]="cnst.FrontEndUrl.FAQ">FAQ</a></li>
                        <li class="social_icons_whole">
                            <div class="social_links"><a class="social-channel fb" href="https://www.facebook.com/SingaporeHDB" aria-label="Facebook" target="_blank" rel="noopener"><em
                                        class="fab fa-facebook-f"></em></a></div>
                            <div class="social_links"><a class="social-channel twitter" href="https://twitter.com/SingaporeHDB" aria-label="Twitter" target="_blank" rel="noopener"><em class="fab fa-twitter"></em></a>
                            </div>
                            <div class="social_links"><a class="social-channel" href="https://t.me/SingaporeHDB" aria-label="Telegram" target="_blank" rel="noopener"><em class="fab fa-telegram-plane"></em></a></div>
                            <div class="social_links"><a class="social-channel linkedin" href="http://www.linkedin.com/company/singaporehdb" aria-label="LinkedIn" target="_blank" rel="noopener"><em
                                        class="fab fa-linkedin-in"></em></a>
                            </div>
                            <div class="social_links"><a class="social-channel youtube" href="https://www.youtube.com/user/singaporeHDB" aria-label="YouTube" target="_blank" rel="noopener"><em
                                        class="fab fa-youtube"></em></a></div>
                            <div class="social_links"><a class="social-channel mynicehome" href="https://www.mynicehome.gov.sg" aria-label="MyNiceHome" target="_blank" rel="noopener"><em class="fas fa-couch"></em></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col text-left text-lg-right">
                    <p class="text-link"><a href="https://services2.hdb.gov.sg/webapp/BF08CESS/Index.jsp" target="_blank" rel="noopener"> Subscribe to HDB eAlert Service </a></p>
                    <p class="text-link"><a href="http://www.hdb.gov.sg/cs/infoweb/mobile-hdb" target="_blank" rel="noopener"> Download Mobile @ HDB </a></p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="footer-border"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <nav class="secondary-footer-nav"><a class="secondary-footer-nav-link" href="https://www.tech.gov.sg/report_vulnerability" target="_blank" rel="noopener">Report Vulnerability</a><a
                                class="secondary-footer-nav-link" href="http://www.hdb.gov.sg/cs/infoweb/privacy-statement" target="_blank" rel="noopener">Privacy Statement</a><a class="secondary-footer-nav-link"
                                href="http://www.hdb.gov.sg/cs/infoweb/terms-of-use" target="_blank" rel="noopener">Terms of Use</a><a class="secondary-footer-nav-link"
                                [routerLink]="cnst.FrontEndUrl.SITEMAP">Sitemap</a><a class="secondary-footer-nav-link" href="http://www.hdb.gov.sg/cs/infoweb/site-requirements" target="_blank" rel="noopener">Site
                                Requirements</a></nav>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="last-review">
                            <p class="">© {{currentYear}} Housing &amp; Development Board.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</footer>